body{
    background-color: rgb(9, 3, 24);
    font-size: 10px;
    margin: 0;
    padding: 0;
}
.header{
    font-size: 2.5em;
    display: inline-flex;
    background-color: rgb(9, 3, 0);
    padding: 5px;
    height: min-content;
}
.header div{
    width: 50%;
}
.header-menu{
    display: flex;
    padding: 5px;
    list-style: none;
    justify-content: end;
    align-items: center;
    width: 100%;
}
.header-menu li{
    padding: 10px;
}
.logo{
    display: flex;
}
.logo img{
    width: 15%;
    height: min-content;
    margin: 0 calc(10%);
}


/*Mini libreria*/
.link-none{
    text-decoration: none;
    color: rgb(150, 0, 0);
    font-weight: bolder;
}