body{
    background-color: #090318;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

/***************************Header****************************/
    
.header{
    font-size: 2.5em;
    display: inline-flex;
    background-color: #090300;
    padding: 5px;
    height: min-content;
}
.header div{
    width: 50%;
}
.header-menu{
    display: flex;
    padding: 5px;
    list-style: none;
    justify-content: end;
    align-items: center;
    width: 100%;
}
.header-menu li{
    padding: 10px;
}
.logo{
    display: flex;
}
.logo img{
    width: 15%;
    height: min-content;
    margin: 0 calc(10%);
}

/****************Contenido*************/

.contenido{
    font-size: 2em;
    color: #fff;
}
*::selection{
    color: rgb(56, 2, 2);
    background-color: #000000;
}

/*Mini libreria*/
.link-none{
    text-decoration: none;
    color: rgb(150, 0, 0);
    font-weight: bolder;
}